@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap');

/*Estilização geral*/
body{
    background-color:  black;
    color: white;
    text-align:center;
}

/*Titulo da pagina*/
#title{
    color:goldenrod;
    background-color: orangered;
    font-family: 'Petit Formal Script', cursive;

    padding: 10 px;

}
/*Subtitulos*/
h2,h3,h4,h5{
    text-align: left;
        color:goldenrod;
        font-family: 'Petit Formal Script', cursive;
    
}
/*Tag final*/
#fim{
    color:mediumblue;
    font-size: 20px;
    text-align: center;
    padding:100;
}

.list-details{
text-align: left;
    
}

